@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/figtree";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.58 0.22 27);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --radius: 0.45rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0 0 0);
    --foreground: oklch(1 0 0);
    --card: oklch(0 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.87 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

/* https://tweakcn.com/themes/cmkqudn9u000904l4h6ii267o */
.sand {
    --background: oklch(0.9755 0.0067 97.351);
    --foreground: oklch(0.2178 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2178 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2178 0 0);
    --primary: oklch(0.7414 0.0738 84.5946);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9096 0.0167 91.5611);
    --secondary-foreground: oklch(0.2178 0 0);
    --muted: oklch(0.9459 0.0165 91.5544);
    --muted-foreground: oklch(0.5022 0.0278 85.7741);
    --accent: oklch(0.7414 0.0738 84.5946);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.568 0.2002 26.4057);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8986 0.0258 97.1423);
    --input: oklch(0.8986 0.0258 97.1423);
    --ring: oklch(0.7414 0.0738 84.5946);
    --chart-1: oklch(0.7414 0.0738 84.5946);
    --chart-2: oklch(0.3738 0.0116 258.366);
    --chart-3: oklch(0.9096 0.0167 91.5611);
    --chart-4: oklch(0.5933 0.0472 87.9063);
    --chart-5: oklch(0.2958 0.0084 255.5667);
    --sidebar: oklch(0.9459 0.0165 91.5544);
    --sidebar-foreground: oklch(0.2178 0 0);
    --sidebar-primary: oklch(0.7414 0.0738 84.5946);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8986 0.0258 97.1423);
    --sidebar-accent-foreground: oklch(0.2178 0 0);
    --sidebar-border: oklch(0.8986 0.0258 97.1423);
    --sidebar-ring: oklch(0.7414 0.0738 84.5946);
    --font-sans: Inter, -apple-system, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 15px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 8px 15px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 8px 15px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm:
        0px 8px 15px 0px hsl(0 0% 0% / 0.05),
        0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow:
        0px 8px 15px 0px hsl(0 0% 0% / 0.05),
        0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md:
        0px 8px 15px 0px hsl(0 0% 0% / 0.05),
        0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg:
        0px 8px 15px 0px hsl(0 0% 0% / 0.05),
        0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl:
        0px 8px 15px 0px hsl(0 0% 0% / 0.05),
        0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 8px 15px 0px hsl(0 0% 0% / 0.13);
    --tracking-normal: -0.02em;
    --spacing: 0.25rem;
}

.brutalist {
    --background: oklch(0.9789 0.0082 121.6272);
    --foreground: oklch(0 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0.5106 0.2301 276.9656);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.7038 0.123 182.5025);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.9551 0 0);
    --muted-foreground: oklch(0.3211 0 0);
    --accent: oklch(0.7686 0.1647 70.0804);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0 0 0);
    --input: oklch(0.5555 0 0);
    --ring: oklch(0.7853 0.1041 274.7134);
    --chart-1: oklch(0.5106 0.2301 276.9656);
    --chart-2: oklch(0.7038 0.123 182.5025);
    --chart-3: oklch(0.7686 0.1647 70.0804);
    --chart-4: oklch(0.6559 0.2118 354.3084);
    --chart-5: oklch(0.7227 0.192 149.5793);
    --sidebar: oklch(0.9789 0.0082 121.6272);
    --sidebar-foreground: oklch(0 0 0);
    --sidebar-primary: oklch(0.5106 0.2301 276.9656);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.7686 0.1647 70.0804);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0 0 0);
    --sidebar-ring: oklch(0.7853 0.1041 274.7134);
    --font-sans: Plus Jakarta Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: DM Sans, sans-serif;
    --font-mono: Space Mono, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm:
        0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05),
        0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow:
        0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05),
        0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-md:
        0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05),
        0px 2px 4px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-lg:
        0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05),
        0px 4px 6px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-xl:
        0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05),
        0px 8px 10px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.13);
    --tracking-normal: normal;
    --spacing: 0.25rem;
}

.minimal {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2178 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2178 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2178 0 0);
    --primary: oklch(0.2264 0 0);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(1 0 0);
    --secondary-foreground: oklch(0.2264 0 0);
    --muted: oklch(1 0 0);
    --muted-foreground: oklch(0.6334 0 0);
    --accent: oklch(1 0 0);
    --accent-foreground: oklch(0.2264 0 0);
    --destructive: oklch(0.5954 0.2344 23.9586);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(1 0 0);
    --input: oklch(1 0 0);
    --ring: oklch(0.8109 0 0);
    --chart-1: oklch(0.9667 0.0148 251.1556);
    --chart-2: oklch(0.7422 0.1166 260.2);
    --chart-3: oklch(0.6588 0.1585 264.3926);
    --chart-4: oklch(0.5814 0.1857 265.2966);
    --chart-5: oklch(0.4861 0.2073 266.0672);
    --sidebar: oklch(1 0 0);
    --sidebar-foreground: oklch(0.2178 0 0);
    --sidebar-primary: oklch(0.2264 0 0);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(1 0 0);
    --sidebar-accent-foreground: oklch(0.2264 0 0);
    --sidebar-border: oklch(1 0 0);
    --sidebar-ring: oklch(0.8109 0 0);
    --font-sans: Chakra Petch, ui-sans-serif, sans-serif, system-ui;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --radius: 0rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

/* https://tweakcn.com/themes/cmlpw19bo000004l729u94fdg */
.monolith {
    --background: oklch(0.9702 0 0);
    --foreground: oklch(0.2178 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2178 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2178 0 0);
    --primary: oklch(0.2178 0 0);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9067 0 0);
    --secondary-foreground: oklch(0.2178 0 0);
    --muted: oklch(0.9067 0 0);
    --muted-foreground: oklch(0.5103 0 0);
    --accent: oklch(0.934 0 0);
    --accent-foreground: oklch(0.2178 0 0);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8452 0 0);
    --input: oklch(0.9067 0 0);
    --ring: oklch(0.2178 0 0);
    --chart-1: oklch(0.5685 0.1187 154.9491);
    --chart-2: oklch(0.588 0.0993 245.7394);
    --chart-3: oklch(0.6344 0.155 50.2665);
    --chart-4: oklch(0.5338 0.2503 301.375);
    --chart-5: oklch(0.5265 0.1151 44.6044);
    --sidebar: oklch(1 0 0);
    --sidebar-foreground: oklch(0.2178 0 0);
    --sidebar-primary: oklch(0.2178 0 0);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.934 0 0);
    --sidebar-accent-foreground: oklch(0.2178 0 0);
    --sidebar-border: oklch(0.8452 0 0);
    --sidebar-ring: oklch(0.2178 0 0);
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Sorts Mill Goudy, ui-serif, serif;
    --font-mono: Geist Mono, ui-monospace, monospace;
    --radius: 0rem;
    --shadow-x: 0px;
    --shadow-y: 0.125rem;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: #000000;
    --shadow-2xs: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0);
    --shadow-xs: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0);
    --shadow-sm:
        0px 0.125rem 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow:
        0px 0.125rem 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
    --shadow-md:
        0px 0.125rem 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
    --shadow-lg:
        0px 0.125rem 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
    --shadow-xl:
        0px 0.125rem 0px 0px hsl(0 0% 0% / 0),
        0px 8px 10px -1px hsl(0 0% 0% / 0);
    --shadow-2xl: 0px 0.125rem 0px 0px hsl(0 0% 0% / 0);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

/* https://tweakcn.com/themes/cmm5996cv000004l266hbf4mr */
.tealish {
    --background: oklch(0.9876 0.0044 185.3322);
    --foreground: oklch(0.3079 0.0364 195.4276);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3079 0.0364 195.4276);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3079 0.0364 195.4276);
    --primary: oklch(0.684 0.127 176.8287);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.969 0.0236 203.3736);
    --secondary-foreground: oklch(0.4968 0.0835 205.3842);
    --muted: oklch(0.9585 0.0066 185.2676);
    --muted-foreground: oklch(0.5873 0.0387 196.1462);
    --accent: oklch(0.9678 0.0275 211.0568);
    --accent-foreground: oklch(0.4847 0.0871 217.947);
    --destructive: oklch(0.6514 0.2207 6.1745);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9214 0.0198 186.0428);
    --input: oklch(0.9214 0.0198 186.0428);
    --ring: oklch(0.684 0.127 176.8287);
    --chart-1: oklch(0.684 0.127 176.8287);
    --chart-2: oklch(0.699 0.1212 216.6395);
    --chart-3: oklch(0.633 0.162 252.0695);
    --chart-4: oklch(0.7494 0.1669 155.9458);
    --chart-5: oklch(0.6856 0.1898 352.1927);
    --sidebar: oklch(0.9804 0.005 185.3165);
    --sidebar-foreground: oklch(0.4136 0.0437 195.5958);
    --sidebar-primary: oklch(0.684 0.127 176.8287);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9537 0.0237 203.3701);
    --sidebar-accent-foreground: oklch(0.5349 0.099 177.288);
    --sidebar-border: oklch(0.9326 0.0138 186.217);
    --sidebar-ring: oklch(0.684 0.127 176.8287);
    --font-sans: Plus Jakarta Sans, Quicksand, system-ui, sans-serif;
    --font-serif: Chillax, Playfair Display, serif;
    --font-mono: Fira Code, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 20px;
    --shadow-spread: -2px;
    --shadow-opacity: 0.08;
    --shadow-color: hsl(171, 50%, 20%);
    --shadow-2xs: 0px 8px 20px -2px hsl(171 50% 20% / 0.04);
    --shadow-xs: 0px 8px 20px -2px hsl(171 50% 20% / 0.04);
    --shadow-sm:
        0px 8px 20px -2px hsl(171 50% 20% / 0.08),
        0px 1px 2px -3px hsl(171 50% 20% / 0.08);
    --shadow:
        0px 8px 20px -2px hsl(171 50% 20% / 0.08),
        0px 1px 2px -3px hsl(171 50% 20% / 0.08);
    --shadow-md:
        0px 8px 20px -2px hsl(171 50% 20% / 0.08),
        0px 2px 4px -3px hsl(171 50% 20% / 0.08);
    --shadow-lg:
        0px 8px 20px -2px hsl(171 50% 20% / 0.08),
        0px 4px 6px -3px hsl(171 50% 20% / 0.08);
    --shadow-xl:
        0px 8px 20px -2px hsl(171 50% 20% / 0.08),
        0px 8px 10px -3px hsl(171 50% 20% / 0.08);
    --shadow-2xl: 0px 8px 20px -2px hsl(171 50% 20% / 0.2);
    --tracking-normal: -0.02em;
    --spacing: 0.25rem;
}

.tealish-dark {
    --background: oklch(0.1592 0.0163 195.638);
    --foreground: oklch(0.9724 0.0044 185.3299);
    --card: oklch(0.2032 0.0218 195.5721);
    --card-foreground: oklch(0.9724 0.0044 185.3299);
    --popover: oklch(0.2032 0.0218 195.5721);
    --popover-foreground: oklch(0.9724 0.0044 185.3299);
    --primary: oklch(0.8607 0.1582 177.3031);
    --primary-foreground: oklch(0.1752 0.0187 195.5823);
    --secondary: oklch(0.3004 0.0342 203.2277);
    --secondary-foreground: oklch(0.9527 0.0434 203.2352);
    --muted: oklch(0.2601 0.0242 195.7669);
    --muted-foreground: oklch(0.7768 0.0173 184.8604);
    --accent: oklch(0.3002 0.0389 212.6143);
    --accent-foreground: oklch(0.9448 0.0408 211.1078);
    --destructive: oklch(0.552 0.2107 10.5045);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3331 0.0335 195.6612);
    --input: oklch(0.3331 0.0335 195.6612);
    --ring: oklch(0.8607 0.1582 177.3031);
    --chart-1: oklch(0.8607 0.1582 177.3031);
    --chart-2: oklch(0.7741 0.1272 215.0981);
    --chart-3: oklch(0.708 0.1276 250.0683);
    --chart-4: oklch(0.7958 0.174 156.2559);
    --chart-5: oklch(0.7228 0.1644 350.7352);
    --sidebar: oklch(0.1426 0.0142 195.6773);
    --sidebar-foreground: oklch(0.927 0.0056 185.2913);
    --sidebar-primary: oklch(0.8607 0.1582 177.3031);
    --sidebar-primary-foreground: oklch(0.1752 0.0187 195.5823);
    --sidebar-accent: oklch(0.2556 0.0226 203.1229);
    --sidebar-accent-foreground: oklch(0.9786 0.0243 185.9551);
    --sidebar-border: oklch(0.2601 0.0242 195.7669);
    --sidebar-ring: oklch(0.8607 0.1582 177.3031);
    --font-sans: Plus Jakarta Sans, Quicksand, system-ui, sans-serif;
    --font-serif: Chillax, Playfair Display, serif;
    --font-mono: Fira Code, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 10px;
    --shadow-blur: 25px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.4;
    --shadow-color: hsl(0, 0%, 0%);
    --shadow-2xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.2);
    --shadow-xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.2);
    --shadow-sm:
        0px 10px 25px 0px hsl(0 0% 0% / 0.4),
        0px 1px 2px -1px hsl(0 0% 0% / 0.4);
    --shadow:
        0px 10px 25px 0px hsl(0 0% 0% / 0.4),
        0px 1px 2px -1px hsl(0 0% 0% / 0.4);
    --shadow-md:
        0px 10px 25px 0px hsl(0 0% 0% / 0.4),
        0px 2px 4px -1px hsl(0 0% 0% / 0.4);
    --shadow-lg:
        0px 10px 25px 0px hsl(0 0% 0% / 0.4),
        0px 4px 6px -1px hsl(0 0% 0% / 0.4);
    --shadow-xl:
        0px 10px 25px 0px hsl(0 0% 0% / 0.4),
        0px 8px 10px -1px hsl(0 0% 0% / 0.4);
    --shadow-2xl: 0px 10px 25px 0px hsl(0 0% 0% / 1);
}

/* https://tweakcn.com/themes/cmmlejolt000504la8idj507e */
.rewaff {
    --background: oklch(0.9813 0.01 238.5069);
    --foreground: oklch(0.1807 0.0207 239.8394);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.1807 0.0207 239.8394);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.1807 0.0207 239.8394);
    --primary: oklch(0.6236 0.1833 147.4139);
    --primary-foreground: oklch(0.9813 0.01 238.5069);
    --secondary: oklch(0.9396 0.0204 243.422);
    --secondary-foreground: oklch(0.2791 0.0203 242.6079);
    --muted: oklch(0.9396 0.0204 243.422);
    --muted-foreground: oklch(0.4501 0.0191 239.4931);
    --accent: oklch(0.6999 0.1796 150.1066);
    --accent-foreground: oklch(0.9813 0.01 238.5069);
    --destructive: oklch(0.6207 0.2306 24.9164);
    --destructive-foreground: oklch(0.9813 0.01 238.5069);
    --border: oklch(0.8999 0.0196 240.7516);
    --input: oklch(0.8999 0.0196 240.7516);
    --ring: oklch(0.6236 0.1833 147.4139);
    --chart-1: oklch(0.6236 0.1833 147.4139);
    --chart-2: oklch(0.6004 0.1694 249.8812);
    --chart-3: oklch(0.6818 0.1924 45.7782);
    --chart-4: oklch(0.6396 0.2105 300.0543);
    --chart-5: oklch(0.6491 0.2201 19.8586);
    --sidebar: oklch(0.9813 0.01 238.5069);
    --sidebar-foreground: oklch(0.1807 0.0207 239.8394);
    --sidebar-primary: oklch(0.6236 0.1833 147.4139);
    --sidebar-primary-foreground: oklch(0.9813 0.01 238.5069);
    --sidebar-accent: oklch(0.6999 0.1796 150.1066);
    --sidebar-accent-foreground: oklch(0.9813 0.01 238.5069);
    --sidebar-border: oklch(0.8999 0.0196 240.7516);
    --sidebar-ring: oklch(0.6236 0.1833 147.4139);
    --font-sans: Space Grotesk, ui-sans-serif, sans-serif, system-ui;
    --font-serif: PT Serif, ui-serif, serif;
    --font-mono: Space Mono, ui-monospace, monospace;
    --radius: 0.75rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}
.rewaff-dark {
    --background: oklch(0.1289 0.0199 238.9108);
    --foreground: oklch(0.9513 0.0101 238.5127);
    --card: oklch(0.1807 0.0207 239.8394);
    --card-foreground: oklch(0.9513 0.0101 238.5127);
    --popover: oklch(0.1807 0.0207 239.8394);
    --popover-foreground: oklch(0.9513 0.0101 238.5127);
    --primary: oklch(0.7007 0.1804 148.9872);
    --primary-foreground: oklch(0.1004 0.0209 233.5083);
    --secondary: oklch(0.2414 0.0196 239.1401);
    --secondary-foreground: oklch(0.9513 0.0101 238.5127);
    --muted: oklch(0.2414 0.0196 239.1401);
    --muted-foreground: oklch(0.6499 0.0194 240.1577);
    --accent: oklch(0.7211 0.1805 150.0521);
    --accent-foreground: oklch(0.1004 0.0209 233.5083);
    --destructive: oklch(0.6207 0.2306 24.9164);
    --destructive-foreground: oklch(0.9813 0.01 238.5069);
    --border: oklch(0.2791 0.0203 242.6079);
    --input: oklch(0.2791 0.0203 242.6079);
    --ring: oklch(0.7007 0.1804 148.9872);
    --chart-1: oklch(0.7007 0.1804 148.9872);
    --chart-2: oklch(0.6798 0.1703 250.1921);
    --chart-3: oklch(0.7309 0.184 51.3191);
    --chart-4: oklch(0.6928 0.1956 302.0666);
    --chart-5: oklch(0.6899 0.2008 18.6316);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.275 0 0);
    --sidebar-ring: oklch(0.439 0 0);
    --font-sans: Space Grotesk, ui-sans-serif, sans-serif, system-ui;
    --font-serif: PT Serif, ui-serif, serif;
    --font-mono: Space Mono, ui-monospace, monospace;
    --radius: 0.625rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --text-2xs: 0.625rem;
    --font-sans: "Figtree Variable", sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background font-sans text-foreground;
    }
    html {
        @apply font-sans;
    }

    ::-webkit-scrollbar {
        @apply size-1;
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full border border-solid border-transparent bg-border;
    }
}
